<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.trade.marketdata.dao.MarketSectorMemberSnapshotMapper">
    <resultMap id="BaseResultMap" type="com.quant.trade.marketdata.model.MarketSectorMemberSnapshotDO">
        <id column="id" property="id"/><result column="snapshot_id" property="snapshotId"/>
        <result column="canonical_symbol" property="canonicalSymbol"/><result column="security_name" property="securityName"/>
        <result column="current_price" property="currentPrice"/><result column="previous_close" property="previousClose"/>
        <result column="change_rate" property="changeRate"/><result column="net_inflow" property="netInflow"/>
        <result column="turnover_amount" property="turnoverAmount"/><result column="volume" property="volume"/>
        <result column="total_shares" property="totalShares"/><result column="circulating_shares" property="circulatingShares"/>
        <result column="tags" property="tags"/><result column="trade_status" property="tradeStatus"/>
        <result column="is_delayed" property="delayed"/><result column="created_at" property="createdAt"/>
    </resultMap>
    <insert id="insertBatch">
        INSERT INTO market_sector_member_snapshot (snapshot_id, canonical_symbol, security_name, current_price,
            previous_close, change_rate, net_inflow, turnover_amount, volume, total_shares, circulating_shares,
            tags, trade_status, is_delayed) VALUES
        <foreach collection="records" item="item" separator=",">
            (#{item.snapshotId}, #{item.canonicalSymbol}, #{item.securityName}, #{item.currentPrice},
            #{item.previousClose}, #{item.changeRate}, #{item.netInflow}, #{item.turnoverAmount}, #{item.volume},
            #{item.totalShares}, #{item.circulatingShares}, #{item.tags}, #{item.tradeStatus}, #{item.delayed})
        </foreach>
    </insert>
    <select id="selectBySnapshotId" resultMap="BaseResultMap">
        SELECT id, snapshot_id, canonical_symbol, security_name, current_price, previous_close, change_rate,
            net_inflow, turnover_amount, volume, total_shares, circulating_shares, tags, trade_status, is_delayed, created_at
        FROM market_sector_member_snapshot WHERE snapshot_id = #{snapshotId}
        ORDER BY net_inflow DESC, turnover_amount DESC, id ASC
    </select>
</mapper>
