<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.trade.marketdata.dao.MarketDataWatermarkMapper">

    <resultMap id="BaseResultMap" type="com.quant.trade.marketdata.model.MarketDataWatermarkDO">
        <id column="id" property="id"/>
        <result column="canonical_symbol" property="canonicalSymbol"/>
        <result column="data_source" property="dataSource"/>
        <result column="interval_type" property="intervalType"/>
        <result column="adjust_type" property="adjustType"/>
        <result column="last_success_time" property="lastSuccessTime"/>
        <result column="last_trade_date" property="lastTradeDate"/>
        <result column="last_bar_time" property="lastBarTime"/>
        <result column="total_rows" property="totalRows"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, canonical_symbol, data_source, interval_type, adjust_type, last_success_time,
        last_trade_date, last_bar_time, total_rows, created_at, updated_at
    </sql>

    <sql id="Filter_Clause">
        <where>
            <if test="canonicalSymbol != null and canonicalSymbol != ''">AND canonical_symbol = #{canonicalSymbol}</if>
            <if test="dataSource != null and dataSource != ''">AND data_source = #{dataSource}</if>
            <if test="intervalType != null and intervalType != ''">AND interval_type = #{intervalType}</if>
        </where>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO market_data_watermark (canonical_symbol, data_source, interval_type, adjust_type,
            last_success_time, last_trade_date, last_bar_time, total_rows)
        VALUES (#{canonicalSymbol}, #{dataSource}, #{intervalType}, #{adjustType},
            #{lastSuccessTime}, #{lastTradeDate}, #{lastBarTime}, #{totalRows})
    </insert>

    <update id="updateByUniqueKey">
        UPDATE market_data_watermark
        SET last_success_time = #{lastSuccessTime}, last_trade_date = #{lastTradeDate},
            last_bar_time = #{lastBarTime}, total_rows = #{totalRows}
        WHERE canonical_symbol = #{canonicalSymbol}
          AND data_source = #{dataSource}
          AND interval_type = #{intervalType}
          AND adjust_type = #{adjustType}
    </update>

    <select id="selectByUniqueKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM market_data_watermark
        WHERE canonical_symbol = #{canonicalSymbol}
          AND data_source = #{dataSource}
          AND interval_type = #{intervalType}
          AND adjust_type = #{adjustType}
    </select>

    <select id="selectByFilter" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM market_data_watermark
        <include refid="Filter_Clause"/>
        ORDER BY updated_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countByFilter" resultType="long">
        SELECT COUNT(*) FROM market_data_watermark <include refid="Filter_Clause"/>
    </select>
</mapper>
