<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.trade.marketdata.foundation.dao.MdfCoverageWatermarkMapper">

    <resultMap id="BaseResultMap" type="com.quant.trade.marketdata.foundation.model.MdfCoverageWatermarkDO">
        <id column="id" property="id"/>
        <result column="dataset_version_id" property="datasetVersionId"/>
        <result column="canonical_symbol" property="canonicalSymbol"/>
        <result column="first_date" property="firstDate"/>
        <result column="last_date" property="lastDate"/>
        <result column="row_count" property="rowCount"/>
        <result column="expected_days" property="expectedDays"/>
        <result column="covered_days" property="coveredDays"/>
        <result column="coverage_ratio" property="coverageRatio"/>
        <result column="calculated_at" property="calculatedAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="upsertBatch">
        INSERT INTO mdf_coverage_watermark (dataset_version_id, canonical_symbol, first_date, last_date,
            row_count, expected_days, covered_days, coverage_ratio, calculated_at) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.datasetVersionId}, #{item.canonicalSymbol}, #{item.firstDate}, #{item.lastDate},
             #{item.rowCount}, #{item.expectedDays}, #{item.coveredDays}, #{item.coverageRatio}, #{item.calculatedAt})
        </foreach>
        ON DUPLICATE KEY UPDATE first_date = VALUES(first_date), last_date = VALUES(last_date),
            row_count = VALUES(row_count), expected_days = VALUES(expected_days),
            covered_days = VALUES(covered_days), coverage_ratio = VALUES(coverage_ratio),
            calculated_at = VALUES(calculated_at)
    </insert>

    <select id="selectByVersion" resultMap="BaseResultMap">
        SELECT * FROM mdf_coverage_watermark WHERE dataset_version_id = #{datasetVersionId}
        ORDER BY canonical_symbol
    </select>
</mapper>
