<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quant.trade.marketdata.dao.StockDailyBarMapper">

    <resultMap id="BaseResultMap" type="com.quant.trade.marketdata.model.StockDailyBarDO">
        <id column="id" property="id"/>
        <result column="canonical_symbol" property="canonicalSymbol"/>
        <result column="trade_date" property="tradeDate"/>
        <result column="adjust_type" property="adjustType"/>
        <result column="data_source" property="dataSource"/>
        <result column="open_price" property="openPrice"/>
        <result column="high_price" property="highPrice"/>
        <result column="low_price" property="lowPrice"/>
        <result column="close_price" property="closePrice"/>
        <result column="volume" property="volume"/>
        <result column="amount" property="amount"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, canonical_symbol, trade_date, adjust_type, data_source,
        open_price, high_price, low_price, close_price, volume, amount, created_at, updated_at
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stock_daily_bar (canonical_symbol, trade_date, adjust_type, data_source,
            open_price, high_price, low_price, close_price, volume, amount)
        VALUES (#{canonicalSymbol}, #{tradeDate}, #{adjustType}, #{dataSource},
            #{openPrice}, #{highPrice}, #{lowPrice}, #{closePrice}, #{volume}, #{amount})
    </insert>

    <insert id="batchInsert">
        INSERT INTO stock_daily_bar (canonical_symbol, trade_date, adjust_type, data_source,
            open_price, high_price, low_price, close_price, volume, amount)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.canonicalSymbol}, #{item.tradeDate}, #{item.adjustType}, #{item.dataSource},
             #{item.openPrice}, #{item.highPrice}, #{item.lowPrice}, #{item.closePrice},
             #{item.volume}, #{item.amount})
        </foreach>
    </insert>

    <select id="selectByUniqueKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM stock_daily_bar
        WHERE canonical_symbol = #{canonicalSymbol}
          AND trade_date = #{tradeDate}
          AND adjust_type = #{adjustType}
          AND data_source = #{dataSource}
    </select>

    <update id="updateByUniqueKey">
        UPDATE stock_daily_bar
        SET open_price = #{openPrice}, high_price = #{highPrice}, low_price = #{lowPrice},
            close_price = #{closePrice}, volume = #{volume}, amount = #{amount}
        WHERE canonical_symbol = #{canonicalSymbol}
          AND trade_date = #{tradeDate}
          AND adjust_type = #{adjustType}
          AND data_source = #{dataSource}
    </update>

    <select id="selectByFilter" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM stock_daily_bar
        <where>
            <if test="canonicalSymbol != null and canonicalSymbol != ''">
                AND canonical_symbol = #{canonicalSymbol}
            </if>
            <if test="fromDate != null">AND trade_date &gt;= #{fromDate}</if>
            <if test="toDate != null">AND trade_date &lt;= #{toDate}</if>
            <if test="adjustType != null and adjustType != ''">AND adjust_type = #{adjustType}</if>
        </where>
        ORDER BY trade_date ASC
    </select>
</mapper>
